<main class="flex-1 pb-8">
  <div class="mt-8">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    
    <div class="mt-2 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
      <!-- Card -->
      <div class="overflow-hidden rounded-lg">
        
        
      </div>

      <div class="overflow-hidden rounded-lg">
        <div class="p-5">
          
        </div>
       
      </div>

      <div class="bg-cardBody overflow-hidden shadow rounded-lg">
        <div class="p-5">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <!-- Heroicon name: outline/scale -->
              <svg xmlns="http://www.w3.org/2000/svg" class="text-white h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z" />
              </svg>
            </div>
            <div class="ml-5 w-0 flex-1 text-right">
              <dl>
                <dt class="text-sm font-thin text-darkText truncate">Available Balance</dt>
                <dd>
                  <div class="text-lg font-medium text-white">R30,659.45</div>
                </dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="bg-cardBody px-5 py-3">
          
          <div class="mt-6 flex space-x-3 md:mt-0 md:ml-4">
           
          </div>
        </div>
      </div>
      <!-- More items... -->
    </div>
  </div>




<div class="mt-8">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
      <!-- This example requires Tailwind CSS v2.0+ -->
<!-- This example requires Tailwind CSS v2.0+ -->
<ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
  <li class="col-span-1 bg-cardBody rounded-lg shadow divide-y divide-gray-200">
    <div class="w-full flex items-center justify-between p-6 space-x-6">
      <div class="flex-1 truncate">
        <div class="flex items-center space-x-3">
          <h3 class="text-white text-sm font-medium truncate">Jane Cooper</h3>
          <span class="inline-flex rounded-full bg-darkGreen px-2 text-xs font-semibold leading-5 text-white">Pending</span>
        </div>
        <p class="mt-1 text-darkText text-sm truncate">SKEPTIPAY - Bloemfontein</p>
        <div class="flex">
          <span class="mt-1 mr-4 text-darkText mr-5 text-xs truncate">Amount Due: </span>
          <span class="mt-1 ml-4 text-white font-semibold text-xs truncate">R25,674.45</span>
        </div>
      </div>
      <img class="w-10 h-10 bg-darkGreen rounded-full flex-shrink-0" src="../img/undraw_female_avatar_w3jk.svg" alt="">
    </div>
    <div>
      <div class="-mt-px flex divide-x divide-darkText">
        <div class="w-0 flex-1 flex">
          <a href="mailto:janecooper@example.com" class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500">
            <!-- Heroicon name: solid/mail -->
            <svg xmlns="http://www.w3.org/2000/svg" class="text-darkRed h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
            <span class="ml-3 text-white">Decline</span>
          </a>
        </div>
        <div class="-ml-px w-0 flex-1 flex">
          <a href="tel:+1-202-555-0170" class="relative w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-br-lg hover:text-gray-500">
            <!-- Heroicon name: solid/phone -->
            <svg xmlns="http://www.w3.org/2000/svg" class="text-darkGreen h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-white">Approve</span>
          </a>
        </div>
      </div>
    </div>
  </li>
  <li class="col-span-1 bg-cardBody rounded-lg shadow divide-y divide-gray-200">
    <div class="w-full flex items-center justify-between p-6 space-x-6">
      <div class="flex-1 truncate">
        <div class="flex items-center space-x-3">
          <h3 class="text-white text-sm font-medium truncate">Jane Cooper</h3>
          <span class="inline-flex rounded-full bg-darkGreen px-2 text-xs font-semibold leading-5 text-white">Pending</span>
        </div>
        <p class="mt-1 text-darkText text-sm truncate">Platform45 - Cape Town</p>
        <div class="flex">
          <span class="mt-1 mr-4 text-darkText mr-5 text-xs truncate">Amount Due: </span>
          <span class="mt-1 ml-4 text-white font-semibold text-xs truncate">R25,674.45</span>
        </div>
      </div>
      <img class="w-10 h-10 bg-darkGreen rounded-full flex-shrink-0" src="../img/undraw_female_avatar_w3jk.svg" alt="">
    </div>
    <div>
      <div class="-mt-px flex divide-darkText">
        <div class="w-0 flex-1 flex">
          <a href="mailto:janecooper@example.com" class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500">
            <!-- Heroicon name: solid/mail -->
            <svg xmlns="http://www.w3.org/2000/svg" class="text-darkRed h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
            <span class="ml-3 text-white">Decline</span>
          </a>
        </div>
        <div class="-ml-px w-0 flex-1 flex">
          <a href="tel:+1-202-555-0170" class="relative w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-br-lg hover:text-gray-500">
            <!-- Heroicon name: solid/phone -->
            <svg xmlns="http://www.w3.org/2000/svg" class="text-darkGreen h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-white">Approve</span>
          </a>
        </div>
      </div>
    </div>
  </li>
  <li class="col-span-1 bg-cardBody rounded-lg shadow divide-y divide-gray-200">
    <div class="w-full flex items-center justify-between p-6 space-x-6">
      <div class="flex-1 truncate">
        <div class="flex items-center space-x-3">
          <h3 class="text-white text-sm font-medium truncate">Jane Cooper</h3>
          <span class="inline-flex rounded-full bg-darkGreen px-2 text-xs font-semibold leading-5 text-white">Pending</span>
        </div>
        <p class="mt-1 text-darkText text-sm truncate">Healthforce - Johannesburg</p>
        <div class="flex">
          <span class="mt-1 mr-4 text-darkText mr-5 text-xs truncate">Amount Due: </span>
          <span class="mt-1 ml-4 text-white font-semibold text-xs truncate">R25,674.45</span>
        </div>
      </div>
      <img class="w-10 h-10 bg-darkGreen rounded-full flex-shrink-0" src="../img/undraw_female_avatar_w3jk.svg" alt="">
    </div>
    <div>
      <div class="-mt-px flex divide-x divide-darkText">
        <div class="w-0 flex-1 flex">
          <a href="mailto:janecooper@example.com" class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500">
            <!-- Heroicon name: solid/mail -->
            <svg xmlns="http://www.w3.org/2000/svg" class="text-darkRed h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
            <span class="ml-3 text-white">Decline</span>
          </a>
        </div>
        <div class="-ml-px w-0 flex-1 flex">
          <a href="tel:+1-202-555-0170" class="relative w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-br-lg hover:text-gray-500">
            <!-- Heroicon name: solid/phone -->
            <svg xmlns="http://www.w3.org/2000/svg" class="text-darkGreen h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-white">Approve</span>
          </a>
        </div>
      </div>
    </div>
  </li>
  <li class="col-span-1 bg-cardBody rounded-lg shadow divide-y divide-gray-200">
    <div class="w-full flex items-center justify-between p-6 space-x-6">
      <div class="flex-1 truncate">
        <div class="flex items-center space-x-3">
          <h3 class="text-white text-sm font-medium truncate">Jane Cooper</h3>
          <span class="inline-flex rounded-full bg-darkGreen px-2 text-xs font-semibold leading-5 text-white">Pending</span>
        </div>
        <p class="mt-1 text-darkText text-sm truncate">Nedbank</p>
        <div class="flex">
          <span class="mt-1 mr-4 text-darkText mr-5 text-xs truncate">Amount Due: </span>
          <span class="mt-1 ml-4 text-white font-semibold text-xs truncate">R25,674.45</span>
        </div>
      </div>
      <img class="w-10 h-10 bg-darkGreen rounded-full flex-shrink-0" src="../img/undraw_female_avatar_w3jk.svg" alt="">
    </div>
    <div>
      <div class="-mt-px flex divide-x divide-darkText">
        <div class="w-0 flex-1 flex">
          <a href="mailto:janecooper@example.com" class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500">
            <!-- Heroicon name: solid/mail -->
            <svg xmlns="http://www.w3.org/2000/svg" class="text-darkRed h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
            <span class="ml-3 text-white">Decline</span>
          </a>
        </div>
        <div class="-ml-px w-0 flex-1 flex">
          <a href="tel:+1-202-555-0170" class="relative w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-br-lg hover:text-gray-500">
            <!-- Heroicon name: solid/phone -->
            <svg xmlns="http://www.w3.org/2000/svg" class="text-darkGreen h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-white">Approve</span>
          </a>
        </div>
      </div>
    </div>
  </li>

  <!-- More people... -->
</ul>

</div>

  </div>
 
</main>