<main class="flex-1 pb-8">
  <div class="mt-8">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    
    <div class="mt-2 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
      <!-- Card -->
      <div class="overflow-hidden rounded-lg">
        
        
      </div>

      <div class="overflow-hidden rounded-lg">
        <div class="p-5">
          
        </div>
       
      </div>

      <div class="bg-cardBody overflow-hidden shadow rounded-lg">
        <div class="p-5">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <!-- Heroicon name: outline/scale -->
               <svg xmlns="http://www.w3.org/2000/svg" class="text-white h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z" />
               </svg>
            </div>
            <div class="ml-5 w-0 flex-1 text-right">
              <dl>
                <dt class="text-sm font-thin text-darkText truncate">Available Balance</dt>
                <dd>
                  <div class="text-lg font-medium text-white">R30,659.45</div>
                </dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="bg-cardBody px-5 py-3">
          
          <div class="mt-6 flex items-center space-x-3 md:mt-0 md:ml-4">
            <button type="button" class="inline-flex text-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500">Deposit Funds</button>
            <button type="button" class="inline-flex text-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-white bg-darkGreen hover:bg-lightGreen focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500">Transfer Funds</button>
          </div>
        </div>
      </div>
      <!-- More items... -->
    </div>
  </div>


  


<div class="mt-8">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    
    <div class="mt-2 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
      <!-- Card -->
      <div class="overflow-hidden rounded-lg">
        
        
      </div>

      <div class="overflow-hidden shadow rounded-lg">
        <!-- This example requires Tailwind CSS v2.0+ -->
<div>
  <label id="listbox-label" class="sr-only"> Transactions </label>
  <div class="relative">
    <div class="inline-flex shadow-sm rounded-md divide-x divide-darkGreen">
      <div class="relative z-0 inline-flex shadow-sm rounded-md divide-x divide-darkGreen">
        <div class="relative inline-flex items-center bg-darkGreen py-2 pl-3 pr-4 border border-transparent rounded-l-md shadow-sm text-white">
          <!-- Heroicon name: solid/check -->
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <p class="ml-2.5 text-sm font-medium">Incoming Transactions</p>
        </div>
        <button type="button" class="relative inline-flex items-center bg-darkGreen p-2 rounded-l-none rounded-r-md text-sm font-medium text-white hover:bg-lightGreen focus:outline-none focus:z-10 focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-indigo-500" aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
          <span class="sr-only">Change published status</span>
          <!-- Heroicon name: solid/chevron-down -->
          <svg class="h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </button>
      </div>
    </div>

    <!--
      Select popover, show/hide based on select state.

      Entering: ""
        From: ""
        To: ""
      Leaving: "transition ease-in duration-100"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <ul class="origin-top-right absolute z-10 right-0 mt-2 w-72 rounded-md shadow-lg overflow-hidden bg-white divide-y divide-gray-200 ring-1 ring-black ring-opacity-5 focus:outline-none" tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-0">
      <!--
        Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.

        Highlighted: "text-white bg-indigo-500", Not Highlighted: "text-gray-900"
      -->
      <li class="text-gray-900 cursor-default select-none relative p-4 text-sm" id="listbox-option-0" role="option">
        <div class="flex flex-col">
          <div class="flex justify-between">
            <!-- Selected: "font-semibold", Not Selected: "font-normal" -->
            <p class="font-normal">Outgoing Transactions</p>
            <!--
              Checkmark, only display for selected option.

              Highlighted: "text-white", Not Highlighted: "text-indigo-500"
            -->
            <span class="text-white">
              <!-- Heroicon name: solid/check -->
              <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
            </span>
          </div>
          <!-- Highlighted: "text-indigo-200", Not Highlighted: "text-gray-500" -->
          <p class="text-white mt-2">View all your incoming transactions.</p>
        </div>
      </li>

      <!-- More items... -->
    </ul>
  </div>
</div>

       
      </div>

      <div class="overflow-hidden rounded-lg">
        
      </div>
      <!-- More items... -->
    </div>
  </div>




<div class="mt-8">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
      <!-- This example requires Tailwind CSS v2.0+ -->
<div class="">
  
  <div class="mt-8 flex flex-col">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
          <table class="min-w-full divide-y divide-darkText">
            <thead class="bg-cardBody">
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-white sm:pl-6">To</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Reference</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Date</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Status</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Amount</th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-darkText bg-cardBody">
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">
                  <div class="flex items-center">
                    <div class="h-10 w-10 flex-shrink-0">
                      <img class="h-10 w-10 rounded-full" src="../img/undraw_female_avatar_w3jk.svg" alt="">
                    </div>
                    <div class="ml-4">
                      <div class="font-medium text-white">Lindsay Walton</div>
                      <div class="text-darkText">lindsay.walton@example.com</div>
                    </div>
                  </div>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <div class="text-white">SKEPTIPAY Front-end Development</div>
                  <div class="text-darkText">SP689965</div>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-white">12 Jun 2022 21:02</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <span class="inline-flex rounded-full bg-darkGreen px-2 text-xs font-semibold leading-5 text-white">Pending</span>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-white">R120,000.00</td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                  <button type="button" class="inline-flex items-center px-3 py-2 border border-gray-300 shadow-sm text-sm leading-4 font-medium rounded-md text-white bg-darkGreen hover:border-lightGreen focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    <!-- Heroicon name: solid/mail -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="text-white h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z" />
                    </svg>
                    
                  </button>
                </td>
              </tr>
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">
                  <div class="flex items-center">
                    <div class="h-10 w-10 flex-shrink-0">
                      <img class="h-10 w-10 rounded-full" src="../img/undraw_female_avatar_w3jk.svg" alt="">
                    </div>
                    <div class="ml-4">
                      <div class="font-medium text-white">Lindsay Walton</div>
                      <div class="text-darkText">lindsay.walton@example.com</div>
                    </div>
                  </div>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <div class="text-white">SKEPTIPAY Front-end Development</div>
                  <div class="text-darkText">SP689965</div>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-white">12 Jun 2022 21:02</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <span class="inline-flex rounded-full bg-darkGreen px-2 text-xs font-semibold leading-5 text-white">Pending</span>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-white">R120,000.00</td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                  <button type="button" class="inline-flex items-center px-3 py-2 border border-gray-300 shadow-sm text-sm leading-4 font-medium rounded-md text-white bg-darkGreen hover:border-lightGreen focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    <!-- Heroicon name: solid/mail -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="text-white h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z" />
                    </svg>
                    
                  </button>
                </td>
              </tr>
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">
                  <div class="flex items-center">
                    <div class="h-10 w-10 flex-shrink-0">
                      <img class="h-10 w-10 rounded-full" src="../img/undraw_female_avatar_w3jk.svg" alt="">
                    </div>
                    <div class="ml-4">
                      <div class="font-medium text-white">Lindsay Walton</div>
                      <div class="text-darkText">lindsay.walton@example.com</div>
                    </div>
                  </div>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <div class="text-white">SKEPTIPAY Front-end Development</div>
                  <div class="text-darkText">SP689965</div>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-white">12 Jun 2022 21:02</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <span class="inline-flex rounded-full bg-darkGreen px-2 text-xs font-semibold leading-5 text-white">Pending</span>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-white">R120,000.00</td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                  <button type="button" class="inline-flex items-center px-3 py-2 border border-gray-300 shadow-sm text-sm leading-4 font-medium rounded-md text-white bg-darkGreen hover:border-lightGreen focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    <!-- Heroicon name: solid/mail -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="text-white h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z" />
                    </svg>
                    
                  </button>
                </td>
              </tr>

              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

  </div>
 
</main>