<main class="flex-1 pb-8">
  <div class="mt-8">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    
    <div class="mt-2 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
      <!-- Card -->
      <div class="overflow-hidden rounded-lg">
        
        
      </div>

      <div class="overflow-hidden rounded-lg">
        <div class="p-5">
          
        </div>
       
      </div>

      <div class="bg-cardBody overflow-hidden shadow rounded-lg">
        <div class="p-5">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <!-- Heroicon name: outline/scale -->
               <svg xmlns="http://www.w3.org/2000/svg" class="text-white h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z" />
               </svg>
            </div>
            <div class="ml-5 w-0 flex-1 text-right">
              <dl>
                <dt class="text-sm font-thin text-darkText truncate">Available Balance</dt>
                <dd>
                  <div class="text-lg font-medium text-white">R30,659.45</div>
                </dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="bg-cardBody px-5 py-3">
          
          <div class="mt-6 flex items-center space-x-3 md:mt-0 md:ml-4">
            
          </div>
        </div>
      </div>
      <!-- More items... -->
    </div>
  </div>

  <div class="mt-8">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-cardBody shadow sm:rounded-lg">
  <div class="px-4 py-5 sm:p-6">
    <h3 class="text-lg leading-6 font-thin text-white">Payment method</h3>
    <div class="mt-5">
      <div class="rounded-md bg-cardBody px-6 py-5 sm:flex sm:items-start sm:justify-between">
        <h4 class="sr-only">Visa</h4>
        <div class="sm:flex sm:items-start">
          <svg class="h-8 w-auto sm:flex-shrink-0 sm:h-6" viewBox="0 0 36 24" aria-hidden="true">
            <rect width="36" height="24" fill="#224DBA" rx="4" />
            <path fill="#fff" d="M10.925 15.673H8.874l-1.538-6c-.073-.276-.228-.52-.456-.635A6.575 6.575 0 005 8.403v-.231h3.304c.456 0 .798.347.855.75l.798 4.328 2.05-5.078h1.994l-3.076 7.5zm4.216 0h-1.937L14.8 8.172h1.937l-1.595 7.5zm4.101-5.422c.057-.404.399-.635.798-.635a3.54 3.54 0 011.88.346l.342-1.615A4.808 4.808 0 0020.496 8c-1.88 0-3.248 1.039-3.248 2.481 0 1.097.969 1.673 1.653 2.02.74.346 1.025.577.968.923 0 .519-.57.75-1.139.75a4.795 4.795 0 01-1.994-.462l-.342 1.616a5.48 5.48 0 002.108.404c2.108.057 3.418-.981 3.418-2.539 0-1.962-2.678-2.077-2.678-2.942zm9.457 5.422L27.16 8.172h-1.652a.858.858 0 00-.798.577l-2.848 6.924h1.994l.398-1.096h2.45l.228 1.096h1.766zm-2.905-5.482l.57 2.827h-1.596l1.026-2.827z" />
          </svg>
          <div class="mt-3 sm:mt-0 sm:ml-4">
            <div class="text-sm font-medium text-white">Ending with 4242</div>
            <div class="mt-1 text-sm text-darkText sm:flex sm:items-center">
              <div>Expires 12/20</div>
              <span class="hidden sm:mx-2 sm:inline" aria-hidden="true"> &middot; </span>
              <div class="mt-1 sm:mt-0">Last updated on 22 Aug 2017</div>
            </div>
          </div>
        </div>
        <div class="mt-4 sm:mt-0 sm:ml-6 sm:flex-shrink-0">
          <button type="button" class="inline-flex text-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500">Change Card</button>
          <button type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm font-medium rounded-md text-white bg-darkGreen hover:bg-lightGreen focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm">Request Payout</button>
        </div>
      </div>
    </div>
  </div>
</div>

    </div>
  </div>  



<div class="mt-8">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
      <!-- This example requires Tailwind CSS v2.0+ -->
<div class="">
  
  <div class="mt-8 flex flex-col">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
          <table class="min-w-full divide-y divide-darkText">
            <thead class="bg-cardBody">
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-white sm:pl-6">Date</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Amount</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Status</th>

              </tr>
            </thead>
            <tbody class="divide-y divide-darkText bg-cardBody">
              <tr>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-white">13 Jun 2022 09:48</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-white">R20,000.00</td>
               
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <span class="inline-flex rounded-full bg-darkGreen px-2 text-xs font-semibold leading-5 text-white">Pending</span>
                </td>
                
                
              </tr>
              <tr>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-white">13 Jun 2022 09:48</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-white">R40,000.00</td>
               
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <span class="inline-flex rounded-full bg-darkGreen px-2 text-xs font-semibold leading-5 text-white">Pending</span>
                </td>
                
                
              </tr>

             

              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

  </div>
 
</main>